@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  font-size: 10pt;
  width: 21cm;
  min-height: calc(29.7cm * 2);
  font-family: "Montserrat", sans-serif;
}

p,
span {
  margin-bottom: 1.2rem;
}

.dark-blue {
  color: rgb(37, 45, 61);
}

#curriculum {
  width: 21cm;
  min-height: calc(29.7cm * 2);
}

#main-content {
  padding: 0 2cm;
}

#main-content .row {
  margin: 0;
}

#main-content .local {
  font-style: italic;
}

#main-content .content:not(h5 + div) {
  page-break-inside: avoid;
  padding-top: 1.2rem;
}

#main-content .content:last-child {
  padding-bottom: 1.2rem;
}
